#bootstrap-overrides-body {
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', 'Helvetica, Arial', 'sans-serif';
}

.gallery {
  padding: 0;
}

.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
}

@media (max-width: 767px) {
  .gallery li {
    margin: 0;
  }
}

.gallery1 img {
  height: 100px;
}

.gallery2 img {
  width: 6em;
}

.gallery5 img {
  width: 120px;
}


.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #005384 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}
[class^="bg-"].disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

#page-header {
  font-weight: 600;
}

#page-header .link {
  color: #b4b2b1;
  font-weight: 100;
}

#page-header .link:hover {
  color: #7f7d7c;
  text-decoration: none;
  font-weight: 100;
}

#btn-back {
  font-size: 30px;
  margin-bottom: 10px;
}

.filter-label {
  font-weight: 600;
}

    
.btn-custom {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 600;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  vertical-align: middle;
  transition: all 70ms ease-out;
}
.btn-custom.btn-sm {
  padding-top: .1em;
  padding-bottom: .1em;
  font-size: 13px;
  line-height: 1.5;
  border: 0.5px !important;
  font-weight: 400 !important;
}

.btn-custom:active,
.btn-custom.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-custom[disabled] {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-danger-custom {
  color: #fff;
  background-color: #ff7145;
  border-color: #ff7145;
}
.btn-danger-custom:hover {
  color: #fff;
  background-color: #ff4a12;
  border-color: #ff4208;
}

.btn-info-custom {
  color: #fff;
  background-color: #35aae6;
  border-color: #35aae6;
}
.btn-info-custom:hover {
  color: #fff;
  background-color: #138dcb;
  border-color: #138dcb;
}

.btn-success-custom {
  color: #fff;
  background-color: #0bdc66;
  border-color: #0bdc66;
}
.btn-success-custom:hover {
  color: #fff;
  background-color: #08a24b;
  border-color: #08a24b;
}

.btn-warning-custom {
  color: #fff;
  background-color: #ffa125;
  border-color: #ffa125;
}
.btn-warning-custom:hover {
  color: #fff;
  background-color: #e18f0e;
  border-color: #e18f0e;
}

.btn-royal-custom {
  color: #fff;
  background-color: #8c1aff;
  border-color: #ffa125;
}
.btn-royal-custom:hover {
  color: #fff;
  background-color: #7300e6;
  border-color: #e18f0e;
}


.btn-outline.btn-outline-primary {
  border: 1px solid #35aae6;
  box-shadow: inset 0 0 0 1px #35aae6;
  color: #35aae6;
  background-color: transparent;
}
.btn-outline.btn-outline-primary:hover, .btn-outline.btn-outline-primary.active {
  background-color: #35aae6;
  border-color: #35aae6;
  color: #fff;
}
.btn-outline.btn-outline-success {
  border: 1px solid #0bdc66;
  box-shadow: inset 0 0 0 1px #0bdc66;
  color: #0bdc66;
  background-color: transparent;
}
.btn-outline.btn-outline-success:hover, .btn-outline.btn-outline-success.active {
  background-color: #0bdc66;
  border-color: #0bdc66;
  color: #fff;
}
.btn-outline.btn-outline-danger {
  border: 1px solid #ff7145;
  box-shadow: inset 0 0 0 1px #ff7145;
  color: #ff7145;
  background-color: transparent;
}
.btn-outline.btn-outline-danger:hover, .btn-outline.btn-outline-danger.active {
  background-color: #ff7145;
  border-color: #ff7145;
  color: #fff;
}
.btn-outline.btn-outline-default {
  border: 1px solid #7f7d7c;
  box-shadow: inset 0 0 0 1px #7f7d7c;
  color: #7f7d7c;
  background-color: transparent;
}
.btn-outline.btn-outline-default:hover, .btn-outline.btn-outline-default.active {
  background-color: #7f7d7c;
  border-color: #7f7d7c;
  color: #fff;
}


.btn-group > .btn-custom:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn-custom:first-child {
  margin-left: 0;
}
.btn-group > .btn-custom:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-custom:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn-custom {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn-custom:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn-custom:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .btn-custom + .btn-custom,
.btn-group .btn-custom + .btn-group,
.btn-group .btn-group + .btn-custom,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn-custom:hover,
.btn-group-vertical > .btn-custom:hover,
.btn-group > .btn-custom:focus,
.btn-group-vertical > .btn-custom:focus,
.btn-group > .btn-custom:active,
.btn-group-vertical > .btn-custom:active,
.btn-group > .btn-custom.active,
.btn-group-vertical > .btn-custom.active {
  z-index: 2;
}
.btn-group > .btn-custom,
.btn-group-vertical > .btn-custom {
  position: relative;
  float: left;
}

.selectize-control.single .selectize-input, select, select.form-control {
    background-image: url(/images/dropdown-caret-down.png);
    background-size: .7rem;
    background-position: right 10px center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}
.input-group-btn-custom {
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  position: relative;
  vertical-align: middle;
  margin-left: -1px;
  display: table-cell;
}

.image-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}